{
    "root": true,
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "plugins": ["@typescript-eslint"],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "eslint:recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "ignorePatterns": ["public/**/*"],
    "overrides": [
        {
            "files": ["*.ts"],
            "rules": {
                "no-undef": "off",
                "no-unused-vars": "off",

                "@typescript-eslint/no-unused-vars": ["warn", { 
                    "argsIgnorePattern": "^_",
                    "varsIgnorePattern": "^_",
                    "caughtErrorsIgnorePattern": "^_"
                  }
                ],
                "@typescript-eslint/no-extra-semi": "error",
                "@typescript-eslint/no-extraneous-class": "error",
                "@typescript-eslint/no-namespace": "off",
                "@typescript-eslint/explicit-function-return-type": ["error", { "allowExpressions": true }],
                "@typescript-eslint/lines-between-class-members": "error"
            }    
        },
        {
            "files": ["*.tsx"],
            "rules": {
                // "react/react-in-jsx-scope": "off",
                "react/jsx-closing-bracket-location": ["error", "line-aligned"],
                "react/jsx-max-props-per-line": ["error", { "maximum": 1}],
                "react/jsx-first-prop-new-line": ["error", "multiline-multiprop"],
                "react/jsx-closing-tag-location": "error",
                "react/jsx-wrap-multilines": [
                  "error",
                  {
                    "declaration": "parens-new-line",
                    "assignment": "parens-new-line",
                    "return": "parens-new-line",
                    "arrow": "parens-new-line",
                    "condition": "parens-new-line",
                    "logical": "parens-new-line",
                    "prop": "parens-new-line"
                  }
                ]
            }
        }
    ],
    "rules": {
        "no-extra-semi": "off",
        "brace-style": ["error", "1tbs", { "allowSingleLine": false }],
        "curly": ["error", "multi-line"],
        "indent": ["error", 2],
        "eol-last": ["error", "always"],
        "no-trailing-spaces": ["error", { "ignoreComments": true }],
        "semi": ["error", "always"],
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        "array-element-newline": [
            "error",
            {
              "ArrayExpression": "consistent",
              "ArrayPattern": { "minItems": 3 }
            }
        ],
        "object-curly-spacing": ["error", "always", {"arraysInObjects": false}],
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "exports": "always-multiline",
            "imports": "always-multiline"
        }],
        "@typescript-eslint/no-var-require": "off"
    }
}